<launch>
    <include file="$(find alleye)/launch/continuous_detection.launch">
        <arg name="node_namespace" value="apriltag_ros_continuous_node" />
        <arg name="camera_name" value="/drone/down_camera" />
        <arg name="camera_frame" value="camera_link" />
        <arg name="image_topic" value="image_raw" />
    </include>
    <node name="drone" pkg="alleye" type="start_drone.py" output="screen">
    </node>
</launch>
